<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <applicationSettings>
    <Econ.NetVert.My.MySettings>
      <setting name="Econ_NetVert_net_sharpdevelop_developer_ConvertService"
          serializeAs="String">
        <value>http://codeconverter.sharpdevelop.net/ConvertService.asmx</value>
      </setting>
    </Econ.NetVert.My.MySettings>
  </applicationSettings>
</configuration>
